.table::-webkit-scrollbar-thumb {
    background-color: #FF6600;
}

$header-height: 60px;
$row-height: 60px;

.infy_table_overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: calc(#{$header-height} + #{$row-height});
    width: 100%;
    z-index: 2;
}

.infy_table_overlay_panel {
    display: flex;
    height: calc(100% - (#{$header-height} + #{$row-height})) ;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.infy_table_overlay_wrapper {
    flex: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}